.Countair_styling {
  /* border: 1px solid white !important; */
  padding: 5px !important;
  height: 86vh !important;
  display: flex;
  align-items: start;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  column-gap: 10px
}

.Row_styling {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* column-gap: 5px !important; */
  flex-wrap: nowrap;
  
}

.Card_styling {
  height: 100%;
  /* border-left: 10px solid #3368B5; */
  padding: 0px 5px !important;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  text-align: left !important;
}

.Card_styling_new {
  height: 110px;
  border-left: 5px solid #3368B5;
  border-radius: 5px;
  /* width: 18%; */
  background-color: #f4f4f4;
  text-align: left !important;
  padding-left: 5px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: rgb(248, 248, 248);
}

.card_heading {
  /* border-bottom: 2px solid #009dff; */
  padding-bottom: 0px !important;
  padding-bottom: 8px;
  color: #3368B5;
  font-size: 20px;
  font-weight: 600;
  margin-left: 3px;

}
.card_row_data{
  margin: 0px !important;
}

.second_container_card1 {
  width: 29%;
  height: 200px;
padding: 0px !important;
border-left: 5px solid #3368B5;
border-radius: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
background-color: #f4f4f4;


}

.second_container_card2 {
  width: 46%;
  height: 220px;
  border-radius: 5px;
  padding: 0px !important;
  border-left: 5px solid #3368B5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #f4f4f4;
  margin-top: 3px;
}
.second_container_card1 {
  width: 11%;
  height: 200px;
  border-radius: 5px;
  padding: 0px !important;
  border-left: 5px solid #3368B5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #f4f4f4;
 
}


.dunut_chart {
  height: 200px;
  /* width: 30%; */
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-left: 10px solid #3368B5;

}

.table_container {
  height: 100%;
  width: 32%;
  height: 220px;
  margin-top: 15px;
  /* background-color: white; */
  display: flex;
  border-radius: 5px;
}

.table_heading {
  padding-bottom: 8px;
  color: blackwhite;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
}

/* ////////// css for daily dashboard card /////////////// */
.Card_styling1 {
  height: 110px;
  /* border-left: 10px solid #3368B5; */
  border-radius: 5px;
  width: 32.5%;
  background-color: white;
  padding-top: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left !important;
}

.Card_Heading_div {
  width: 100%;
  text-align: center;
  top: 0 !important;
  position: sticky !important;
}

.Span_Heading {
  font-size: 18px;
  color: red;
}

.Card_body_Styling {
  margin: 0px;
  height: 70px;
  overflow-y: scroll !important;
  scrollbar-width: thin;
  /* Firefox: sets scrollbar width */
  scrollbar-color: #3368B5 #f1f1f1;
  /* Firefox: scrollbar thumb and track colors */

}

.Callender_styling {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* /////////////// TABLE SECTION //////////////////// */

.Column_first_Table_section {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first_column_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.first_column_table th,
.first_column_table td {
  border: 1px solid black !important;
  text-align: center;
  /* height: 15px !important; */
  font-family: Verdana !important;
  font-size: 13px !important;
  color: black !important;
}

.first_column_table tr:nth-child(even) td {
  background-color: white !important;
  /* Background color for even rows */
}

.first_column_table tr:nth-child(odd) td {
  background-color: white !important;
  /* Background color for odd rows */
}

.col1 {
  width: 50%;
  /* 30% of the table's width */
  text-align: start !important;
}

.col2 {
  width: 15%;
  /* 40% of the table's width */
  text-align: center !important;
}

.col3 {
  width: 35%;
  /* 30% of the table's width */
  text-align: end !important;
}

/* ///////////////// DOOUNT CHART SECTION ////////////////////////// */

.second_section_first_column {
  width: 100% !important;
  padding: 0px !important;
  height: 100% !important;
  display: flex;
  /* background: red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 0px;
 
}

.inner_section_first_column {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_section_first_column1 {
  height: 100%;
  padding: 10px;
  margin: 0px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
}

.leable_row_styling {
  width: 100% !important;
  margin: 0px !important;
  height: 40px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.lable_left_section{
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px !important;
  color: white !important;
}
.lable_right_section{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px ;
}

/* //////////////////// DAIMOND SECTION CSS ///////////////////////////// */
.Diamond_section{
  width: 100%;
  height: 100px ;
box-shadow: none !important;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.first_diamond{
  width: 50%;
  height: 50px;
  margin: 0px;
  
}
.Diamond_sale{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
}

/* ////////////////////////////////////// */

.last_table_section{
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.second_col1{
  width: 60%;
  text-align: start !important;
  font-size: 10px !important;
  height: 24px !important;
}
.second_col2{
  width: 10%;
  text-align: center !important;
  font-size: 10px !important;
  height: 24px !important;
}
.second_col3{
  width: 30%;
  text-align: end !important;
  font-size: 10px !important;
  height: 24px !important;

}


.switch {
  position: relative;
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch.on {
  background-color: #3368B5;
}

.switch.off {
  background-color: #3368B5;
}

.switch-toggle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch.on .switch-toggle {
  transform: translateX(30px);
}

.switch.off .switch-toggle {
  transform: translateX(0);
}


/* ///////////// modal styling //////////// */
.modal_container{
 background-color: #021A33 !important;
 padding-bottom: 10px !important;
}
.modalhearder_styling{
  padding: 0px 5px 0px 0px !important;

}
.closemodal_button{
  font-size: 30px !important;
  color: white !important;
  font-weight: 300 !important;
}
.modal-body{
  padding: 0px !important;
}