.css-1jqq78o-placeholder {
    color: var(--font-color) !important;
    margin-left: -10px !important;
    padding-left: 5px !important;
    display: flex !important;
    justify-content: start !important;
}

.css-1crk2i0-singleValue {
    color: var(--font-color) !important;
}

.css-166bipr-Input {
    color: var(--font-color) !important;
    text-align: left !important;
}

.css-qbdosj-Input {
    color: var(--font-color) !important;
    text-align: left !important;
}

/* Font size decrease select */
.css-1g8werf-control,
.css-5svr4e-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.css-1g8werf-control:hover {
    border-color: var(--font-color) !important;
}


.css-1c6sv9v-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.css-1pbmvgo-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}


.css-1c6sv9v-control:hover {
    border-color: var(--font-color) !important;
}


/* Scrollbar track */
.myTableContainer::-webkit-scrollbar {
  width: 10px; /* width of vertical scrollbar */
}

/* Scrollbar thumb */
.myTableContainer::-webkit-scrollbar-thumb {
  background-color: #888;  /* color of the scroll handle */
  border-radius: 5px;      /* rounded edges */
  border: 2px solid #f1f1f1; /* optional border around thumb */
}

/* Scrollbar thumb hover */
.myTableContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Scrollbar track */
.myTableContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* track background */
  border-radius: 5px;
}

/* Firefox */
.myTableContainer {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
