.css-7i49m1-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.css-1ddnk0l-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.css-nuu3iu-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}


.css-7i49m1-control:hover {
    border-color: var(--font-color) !important;
}

.css-15sfwlb-control {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.css-15sfwlb-control:hover {
    border-color: var(--font-color) !important;
}