styles.css .menu-container {
  font-family: Arial, sans-serif;
  color: black;
}

.menu-header {
  background: orange;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid red;
}

.tab {
  background: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.active-tab {
  background: orange;
  color: black;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.table-container {
  width: 70%;
  margin-left: 16%;
  margin-right: 3%;
  overflow: hidden;
}

.table {
  width: 100%;
}

.table th {
  background-color: #c6daf7 !important;
  color: black;
  text-align: center;
}

.table td {
  text-align: center;
}

.alert-container {
  position: relative;
}

.alert-warning {
  width: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form-menu-container {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  padding: 0px;
  /* box-shadow: 0px 0px 20px #113f8f; */
  width: 100%;
  max-width: 900px;
  /* height: "10vh"; */
  margin: "20px 0";
  font-size: 12px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triple-toggle-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-background {
  width: 60px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
}

.toggle-switch {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  transition: left 0.2s ease;
}

.toggle-switch.left {
  left: 2.5px;
}

.toggle-switch.center {
  left: 20px;
}

.toggle-switch.right {
  left: 37.5px;
}

.toggle-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.option {
  flex: 1;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.option.left {
  text-align: left;
}

.option.center {
  text-align: center;
}

.option.right {
  text-align: right;
}

.nav-fill .nav-item .nav-link.active {
  background-color: #3368b5;
  color: "white";
}
.nav-fill .nav-item .nav-link:hover {
  background-color: #397fc9;
  color: "white";
}
.custom-scrollbar-user {
  overflow-y: auto;
  max-height: 49vh;
  width: 100%;
  border-bottom: 1px solid var(--font-color);
}

.custom-scrollbar-user::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar-user::-webkit-scrollbar-track {
  background-color: var(--backgroundcolor-color);
}

.custom-scrollbar-user::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 10px;
}

.custom-scrollbar-user::-webkit-scrollbar-thumb:hover {
  background-color: var(--font-color);
}
