
.table-scroll::-webkit-scrollbar {
  width: 8px; 
}
/* .table-scroll::-webkit-scrollbar-track {
  background: white; 
} */

.table-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}
.table-scroll::-webkit-scrollbar-thumb {
  background-color: #3368b5 !important; 
  border-radius: 0px !important; 
  
 }
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}