body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'CustomFont'; 
  src: url('/src/fonts/Myfont.woff.ttf') format('truetype');
}

.selected-background{
  background-color: #3368b5 !important;
  color: white !important;
}


.table-scroll::-webkit-scrollbar {
  width: 8px; 
}
/* .table-scroll::-webkit-scrollbar-track {
  background: white; 
} */

.table-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}
.table-scroll::-webkit-scrollbar-thumb {
  background-color: #3368b5 !important; 
  /* border-radius: 10px;  */
  
 }
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
