.form-control-item {
  background-color: rgb(248, 248, 248) !important;
  height: 24px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  margin-bottom: 4px !important;
  margin-left: -10px !important;
  /* align-items: center !important; */
}
.form-control-remarks {
  background-color: rgb(248, 248, 248) !important;
  height: 70px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  margin-bottom: 4px !important;
  margin-left: -10px !important;
}
.btn-primary-item {
  margin-right: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 1%;
  font-size: 11px;
  width: 85px;
  height: 30px;
  font-weight: bold;
  /* background-color: #1f2670; */
  background-color: #e7e7e7;
  color: black;
  padding: 10px 20px;
  border-radius: 0px;
  /* box-shadow: 0px 0px 8px #0080ff; */
  transition: background-color 0.8s;
}

.label-item {
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
.form-category-container {
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 0px;
  /* box-shadow: 0px 0px 20px #113f8f; */
  width: 100%;
  max-width: 610px;
  /* height: "10vh"; */
  margin: "20px 0";
  font-size: 12px;
  border: 1px solid black;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll .label {
  text-align: right;
  font-size: 11px;
}

/* .Item-table {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  padding: 15px;
  border: 1px solid gray;
  background-color: white;
} */
.Item-table {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  height: 79vh;
  border: 1px solid black;
  background-color: white;
}
.scroll .Picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.scroll {
  overflow-y: auto;
  height: 390px;
  /* scrollbar-width: 55px; */
}

/* Small screen styles */
@media (max-width: 767px) {
  .label-item {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
  }
  .input-item {
    margin-left: 6%;
  }
  .Category {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
  }
}

/* Large screen styles */
@media (min-width: 768px) {
  .Category {
    margin-left: 30%;
    margin-right: 30%;
    max-width: 40%;
  }
}

@media screen and (max-width: 458px) {
  .form-item-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 0px 20px #113f8f; */
    width: 100%;
    max-width: 500px;
    margin: "20px 0";
    font-size: 12px;
    border: 1px solid black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-item-container {
    margin-top: 5px;
  }
  .scroll {
    overflow-y: auto;
    height: 250px;
  }
  .scroll .label {
    text-align: left;
    font-size: 11px;
    margin-left: 2%;
  }

  .Item-table {
    margin-left: 2%;
    margin-right: 2%;
    max-width: 96%;
    padding: 15px;
    border: 1px solid black;
    background-color: white;
  }
  .scroll .form-control {
    margin-left: 3%;
  }
  .scroll .Pictureitem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
}
.sticky-header-area {
  box-sizing: 0px 0px 3px black;
  border-right: 1px solid black;
  background-color: #c6daf7;
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid black;
}

.custom-table-area {
  display: block;
  max-height: 67vh;
  overflow-y: auto;
}

.custom-table-area thead,
.custom-table-area tfoot {
  display: block;
  background: white;
  position: sticky;
  border-bottom: 1px solid black;
}

.custom-table-area thead {
  top: 0;
  height: 20px;
}

.custom-table-area tfoot {
  bottom: 0;
  height: 20px;
}

.custom-table-area th,
.custom-table-area td {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  height: 20px;
  border: 1px solid black;
  padding: 0;
  text-align: left;
  /* min-width: 100px; */
}

.custom-table tbody {
}

.custom-table-area td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  /* min-width: 100px; */
}

.sticky-footer-area {
  box-sizing: 0px 0px 3px black;
  border-right: 1px solid black;
  background-color: #c6daf7;
  position: sticky;
  top: 1;
  /* z-index: 1; */
  border: 1px solid black;
}
.my-modal {
  width: 90vw;
  max-width: 90vw;
}
